
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-tts d-flex align-items-center justify-content-between" style="background-color: #f8f9fa; padding: 0.75rem 1rem; border-radius: 0.5rem;">
        <div class="d-flex align-items-center">
          <li class="breadcrumb-item">
            <i class="fa fa-home me-1"></i>
            <a href="/result">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Doanh thu</li>
        </div>
        <li class="huongdan-tts" style="list-style: none;">
          <span class="title fw-bold text-muted me-1">Ngày hết hạn:</span>
          <span class="text-danger">01-04-2030 00:00</span>
        </li>
      </ol>
    </nav>
    
  </div>
  