<ul id="navbar_id" class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/result">
        <i class="fa fa-home me-2"></i>
        <span>Kết quả xổ số</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">
        <i class="fa fa-users me-2"></i>
        <span>Danh bạ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/message">
        <i class="fa fa-comment me-2"></i>
        <span>Tin nhắn</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/money">
        <i class="fa fa-list-alt me-2"></i>
        <span>Doanh thu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/revenue">
        <i class="fa fa-list-alt me-2"></i>
        <span>Phân loại doanh thu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/setting">
        <i class="fas fa-cog me-2"></i>
        <span>Cấu hình kiểu đánh</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/guide">
        <i class="fas fa-book me-2"></i>
        <span>Hướng dẫn sử dụng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-plus me-2"></i>
        <span>Tính năng mới</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/download-app">
        <i class="fa fa-download me-2"></i>
        <span>Tải ứng dụng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tel:0794594523" style="color: rgb(255, 152, 0); font-weight: bold;">
        <i class="fa fa-phone-square me-2"></i>
        <span>0794.594.523</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tg://resolve?domain=TinhTienSo" style="color: rgb(3, 169, 244); font-weight: bold;">
        <img src="/images/telegram.png" width="18px" class="me-2">
        <span>Telegram Hỗ Trợ</span>
      </a>
    </li>
  </ul>
  